/* poppins-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* Base */
* {
  /* размеры блока padding  border  отсчитывать внутрь блока */
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  /* убрать значки кружков перед элементами списка ВСЕХ на странице. селектор тэга ul, без классов*/
  list-style-type: none;
}

/* Для скрыть визуально h2 в section. Но для браузера останется. так надо */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  /* width: 1240px; */
  /* надо чтобы сайт не менял размеры при изменении адаптив размеров,  типа экрана  */
  width: 100%;
  /* max-width: 1240px; */
  /* 1288=1240+24*2   т.к. padiing из-за установленного box-sizing не учитываются, их надо добавить */
  max-width: 1288px;
  /* центрировать контейнер div class=container относително макс размераы горизонатльно */
  margin: 0 auto;
  padding: 0 24px;
}

/* button */
/* Разница отображения для неактивной кнопки */
/* .button {
  border: 4px solid violet;
}

.button[disabled] {
  border: 4px solid black;
} */

/* .main-section {
  color: blue;
}

.main-section>h1 {
  color: aqua;
}

.main-section>p {
  color: green;
} */

/* Псевдоклассы состояния */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

/* специфичность */
/* <button class="button" type="button">Замовити дзвінок</button> */
/* этот приоритетнее, специфичнее */
/* .button.button[type='button'] {
  color: red;
} */

/* .button.button[type='button'] { */
/* nav .button { */

/* header .button {
  color: blueviolet;
} */

.button:hover {
  color: color-brand-dark;
  background-color: transparent;
}

/* .button:focus {
  color: palevioletred;
}

.button:active {
  color: yellowgreen;
} */

/* каскадность */
/* .button {
  color: brown;


} */

/* link */
/* меню списком header и footer */
.link {
  color: var(--color-primary-light);
  /* убрать значки кружков перед элементами списка */
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  /*нехорошо,  что при наведении на меню - двигаются-прыгают все элементы меню.
   Из-за увеличенного размера шрифта hover Обсуждать с разработчиком макета. 
   Лучше - убрать увеличение шрифта hover. Выделения цветом достаточно */
  /* font-weight: 600; */
}

/* Header */
.header {
  background-color: lightgrey;
}

.header-container {
  /* 2 блока (логотип+ меню   и   кнопка) стали горизонтально рядом
  но align-items=stretch по-умолч - поэтому растянута кнопка по вертикали на всю высоту строки - родительского элемента (заданную наверное составом меню) */
  display: flex;
  /* сделать кнопку не растянутой stretch (по-умолч), а центрированной по вертикали */
  align-items: center;
  /* для разделить nav и кнопку при уменьшении размера экрана */
  gap: 40px;
}

.header-nav {
  /* для расположить горизонтально рядом лого и меню в nav навигации */
  display: flex;
  align-items: center;
  flex-grow: 1;
  /* для разделить в nav лого и меню ы при уменьшении размера экрана */
  gap: 40px;
}

.header-menu {
  /* это класс <ul> */
  /* для меню расположить горизонтально */
  display: flex;
  /* для задать расстояние между элементами меню */
  gap: 64px;
  /* align-items: center; */
  /* Чтобы занял все свободно место в родительском элементе nav (класс  .header-nav) :
  часть займет лого, а все оставшееся - меню ul */
  flex-grow: 1;
  /* выравнять по гоавной горизонтальной оси */
  justify-content: center;
}

/* hero-section */
.hero-section {
  padding: 272px 0;
}

/* h1 сучасна пекарня */
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  /* font-style: italic; */
  /* text-transform: capitalize; */
  /* text-shadow: 2px 2px 4px violet;
  letter-spacing: 4px;
  word-spacing: 4px;
  white-space: nowrap; */
}

/* .hero-title span {
  color: var(--color-brand-light);
} */

.hero-title .accent {
  /* background: rgba(18, 18, 17, 0.6);  4й параметр - прозрачность. 1 полностью прозрачный. 0 -непрозр. */
  color: var(--color-brand-light);
}

/* advantages section */

.advantages-section {
  /* перенсен сюда bcgr из .advantages-list. чтобы фон растягивался с section до границ. слева справа */
  background: var(--color-brand-light);
  /* отступы сверху-снизу от меню padding 16 top bottom. padding дочернего элемента div внутри родительского section advantages-section */
  padding: 16px 0;
}

.advantages-list {
  /* ul */
  /* для разместить элементыменю горизонтально */
  display: flex;
  /* для сделать одинак расстояния между элементами меню. растягивает элементы по сторонам */
  justify-content: space-between;
  /* чтобы не сЪезжались при уменеьшении горизонтальном экрана элементы меню : */
  gap: 40px;
  /* color: var(--color-primary-light); перенесен в .advantages-item*/
  /* background: var(--color-brand-light); перенсен в .advantages-section*/
}

.advantages-item {
  /* li */
  /* цвет перенесен из .advantages-list сюда */
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* класс стал ненужен, т.к. color наследуется от указанного в селекторе body
color там указан как основной для всей страницы.
Но оставим. надо будет выделять часть текста особым форматом с пом. span  */
/* .section-title {
  color: var(--color-primary-dark);
} */

.section-title {
  font-size: 64px;
  font-weight: 900;
  /* 1.3 = 84px (line-height) / 64px (font-size) */
  line-height: 1.3;
}

/* если внутри класса section-title (это класс заголовков h2) есть класс accent, то цвет задать всем*/
.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */
/* чтобы между1 и 2й секциями сделать 96,а пока есть 48.
Внимание! ДОбалвлен класс секции 2й через пробел.
в html :     <section class="traditions-section section" id="traditions-section"> 
Это в css обращение к class, а не к id. 
К Id из css НЕ ОБРАЩАТЬСЯ!!!*/
.traditions-section {
  padding-top: 96px;
}

/* div включает все содржимое секции Традиции (H2, p,p, img)*/
.traditions-container {
  /* контент (H2, p,p) и img располагает горизонтально. т.к. По-умолч flex-direction: row */
  display: flex;
  /* между текстовым контентом (H2, p,p) и  img (именно самой картинкой, а не блоком шире, в которую она помещена в макете Figma)
расстояние 104px. Раздвигаем эти 2 div с пом. gap */
  /* gap: 100px; делаем иначе размещение (H2, p,p) и img  2.1 +2.2+2.3.  и в div .traditions-content . 
  2.1. gap меньше (при уменьшении будет не статично 100, а меньше)  
  2.2 .traditions-content     max-width: 710px; 
  2.3.   раздвинуть по сторонам элементы , к краям
   */
  /* 2.1 +2.2+2.3  */
  /* 2.2. ограничить div content с текстом размером 710 по ширине В div .traditions-content*/
  /* max-width: 710px; */
  /*2.3. раздвинуть по сторонам элементы , к краям*/
  justify-content: space-between;
  /* 2.1.чтобы не сталикивались элементы ри уменьшении ширины экрана */
  gap: 40px;
}

.traditions-content {
  /* 2.2. ограничить div content с текстом размером 710 по ширине */
  max-width: 710px;
}

/* отступ от h2 до p в секции 2 traditions (теперь3)  */
.traditions-title {
  margin-bottom: 42px;
}

/* .traditions-text span { */
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* через пробел - это вложенный класс любого уровня (через ">" вложенный только первого уровня)
<p class="traditions-text">
      <span class="brand uppercase">shop bakery</span>
*/
.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Ограничить ширину текста половной всего блока . произвольно сами решили . вместо br */
/* ограничить ширину только2-го параграфа <p>   2 способа. ПОдробнее пробы nth-child() см. inf8_2.txt*/
/* .traditions-text:nth-child(3) {
  max-width: 360px;
} */
/* .traditions-text:last-child {
  max-width: 340px;
} */

/* Без пробела - это этого же уровня этот же сам тэг, но с 2м классом
<p class="traditions-text limited"> 
У .traditions-text есть еще и класс limited  .          */
.traditions-text.limited {
  max-width: 330px;
}

/* Так работает тоже: */
/* .traditions-content .limited {
  background-color: red;
} */

/* .traditions-container .limited {
  background-color: aqua;
} */

/* Chefs section */
.chefs-title {
  /* от заголовка h2 до списка настя-влад в секц. 3 (теперь 4) Шефы */
  margin-bottom: 80px;
}

.chef-title {
  /* От Настя, Влад (h2) до параграфа одинаково по 16px: */
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
  /* line-height: 1.5; не пишем. т.к. 60/40  =1.5  наследуются от body . НО - у меня эти 60px Figma не пишется!!! */
}

/* Formats section */
.format-item {
  /* 40 px это 2 gap по 20 px */
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  padding: 24px;
  border: 1px solid lightgray;
  /*remove*/
  border-radius: 16px;
}

.formats-list {
  /* расположить карточки горизоантально */
  display: flex;
  flex-wrap: wrap;
  /*переносить карточки из расч. 100% / 3*/
  gap: 20px;
  /*на макете так*/
}

.formats-title {
  /* от h2 Walrus...  до p */
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Contacts section */
.contact-title {
  /* от h2 Приеднуйся...  до p Заповни форму */
  margin-bottom: 16px;
}

/* Footer */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  /* 400 inheryt от body} */
}