:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* Base */
body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}


/* button */
/* Разница отображения для неактивной кнопки */
/* .button {
  border: 4px solid violet;
}

.button[disabled] {
  border: 4px solid black;
} */

/* .main-section {
  color: blue;
}

.main-section>h1 {
  color: aqua;
}

.main-section>p {
  color: green;
} */

/* Псевдоклассы состояния */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

/* специфичность */
/* <button class="button" type="button">Замовити дзвінок</button> */
/* этот приоритетнее, специфичнее */
/* .button.button[type='button'] {
  color: red;
} */

/* .button.button[type='button'] { */
/* nav .button { */

/* header .button {
  color: blueviolet;
} */

.button:hover {
  color: color-brand-dark;
  background-color: transparent;

}

/* .button:focus {
  color: palevioletred;
}

.button:active {
  color: yellowgreen;
} */

/* каскадность */
/* .button {
  color: brown;


} */


/* link */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

/* hero-section */
/* h1 сучасна пекарня */
.hero-title {
  color: var(--color-primary-light);
}


/* .hero-title span {
  color: var(--color-brand-light);
} */

.hero-title .accent {
  /* background: rgba(18, 18, 17, 0.6); */
  color: var(--color-brand-light);
}

/* advantages section */
.advantages-list {
  color: var(--color-primary-light);
  background: var(--color-brand-light);
}

/* класс стал ненужен, т.к. color наследуется от указанного в селекторе body
color там указан как основной для всей страницы.
Но оставим. надо будет выделять часть текста особым форматом с пом. span  */
/* .section-title {
  color: var(--color-primary-dark);
} */

/* если внутри класса section-title есть класс accent, то цвет задать */
.section-title .accent {
  color: var(--color-brand-dark);
}